#root {
  --main-gray:#707173;
  --dark-grey: #1C2126;
  --light: #DBDBDB;
  --main-font: 'Montserrat Alternates', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-gray);
  font-family: var(--main-font); 
}
